body {
  background-color: black;
  color:white;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
  background-color: rgb(20, 5, 31);
}
/* .wall{
color: rgb(6, 6, 138);
} */

.msg{
  width: 200px;
  height: 100px;
  position: absolute;
  left: 20%;
  top:40%;
  display:none ;
  text-align: center;
  font-size: 40px;
  
}
.span{
  background-color: rgb(14, 126, 101);
  color: rgb(62, 44, 70);
  width: 200px;
  height: 50px;
}
.button{
  width: 200px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  background-color: rgb(17, 118, 158);
  color: rgb(100, 8, 139);
}

/* .formLine {
  margin:10px;
  padding:10px;
  background-color: cornflowerblue;
} */